#cuaside{
    height: 707px;
}

#contactlist{
    list-style-type: square;
    padding-left: 2px;
    margin: 20px;
}

#contactlist li{
    display: list-item;
}

fieldset{
    margin-left: 20px;
    width: 980px;
}

legend{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#usernameErr{
    margin-left: 130px;
    width: 250px;
}

#phoneErr{
    margin-left: 140px;
    width: 500px;
}

#commentErr{
    margin-left: 162px;
    width: 300px;
}

label{
    display: inline-block;
    width: 10em;
    padding: 0px 0.5px;
    text-align: right;
}

fieldset{
    border-radius: 10px;
    border: dashed;
    border-color: darkblue;
}

#instructions{
    margin-left: 22px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

span{
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cubth{
    text-decoration: none;
    color: black;
    margin-left: 480px;
    border: 1px solid black;
    background-color: indianred;
    color: #FFF;
}

#cubth:hover {
    background-color: black;
    color: white;
}

.scbuttons:hover{
    border-color: red;
    background-color: darkgray;
    color: darkblue;
}

.genderradio:hover{
    cursor: pointer;
    font-size: 16.5px;
}